
body {
     background-image: url(../img/background.jpg);
     background-size: 100%;

    }
#logo { 
    width: 100%;
    height: 355px;
    position: absolute;
    left: 0px; 
    top: 45px;
}

#gameshop {
position: absolute;
left: 750px;
bottom: 480px;
width: 25%;
height: 25%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: absolute;
    left: 500px;
    top: 0px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }


/*
#top-border{
    width: 100%;
    height: 10px;
    top:0;
    left:0;
    margin-bottom: 10px;
    position: fixed;
    background-color: #009EDC;
}
*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#home-logo{
   size: 250%;
    position: absolute;
    left: 65%;
    bottom: 10px;
}
/*
#selection-wrapper{
    overflow: hidden;
    top:50%;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: fixed;
}
*/
.selection-home{
    float: left;
    width: 250px;
    height: 250px;
    margin-right: 10px;
    margin-left: 10px;
}
.selection-home:hover{
    cursor: pointer;
}
#selection-overlay-1{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 50%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    text-align: center;
    

}
#selection-overlay-2{
    position: fixed; /* Sit on top of the page content */
    display: none ; /* Hidden by default */
    width: 50% ; /* Full width (cover the whole page) */
    transform: translate(100%,0%);
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    margin-left: 10px;
}
.text-align{
    position: absolute;
    display: block;
    top: 50%;
    left: 40%;
    color: red;
    
}

#selection-1 {
    position: absolute;
    left: 10%;
    bottom: 10px;
}

#selection-2 {
    position: absolute;
    left: 40%;
    bottom: 10px;
}

