h1,
p {
    font-family: 'IBM Plex Sans', sans-serif;
}

#top-border {
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #009EDC;
}
#product-image-1{

    display: block;
}
#product-image-2{

    display: block;
}
#product-image-3{

    display: block;
}
#product-image-4{

    display: block;
}
#product-image-5{

    display: block;
}
#home-logo{
    cursor: pointer;
    transition: 1s ease;
    margin-top: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#home-logo {
    width: 290px;
    height: 130px;
    position: inherit;
}

.column {
    float: left;
    width: 33.3%;
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 20px;
    transition: 1s ease;
    cursor: pointer;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

@media screen and (max-width: 500px) {
    .column {
        width: 100%;

    }

    #selection-1,
    #selection-2,
    #selection-3 {
        opacity: 0.3;
    }

    #selection-1-text,
    #selection-2-text,
    #selection-3-text {
        opacity: 1;
    }

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centered-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#selection-1-text {
    opacity: 0;
    bottom: 65%;
    left: 10%;
    font-weight: bold;
    position: relative;
    transition: 1s ease;
}

#selection-2-text {
    opacity: 0;
    bottom: 65%;
    left: 5%;
    font-weight: bold;
    position: relative;
    transition: 1s ease;
}

#selection-3-text {
    opacity: 0;
    bottom: 65%;
    left: 5%;
    font-weight: bold;
    position: relative;
    transition: 1s ease;
}
#description-container{
    width: 50%;
    height:50%;
    left: 25%;
    overflow-y: scroll;
    position: absolute;
    
}
#description-text{
    word-wrap: break-word;
}